@model scrap_app.Models.ScrapData

<h1>Delete Scrap Data</h1>

<div>
    <h4>Date: @Model.Date.ToShortDateString()</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Quantity Entered
        </dt>
        <dd class="col-sm-10">
            @Model.QuantityEntered
        </dd>
        <dt class="col-sm-2">
            Quantity Rejected
        </dt>
        <dd class="col-sm-10">
            @Model.QuantityRejected
        </dd>
        <dt class="col-sm-2">
            Team
        </dt>
        <dd class="col-sm-10">
            @Model.Team
        </dd>
        <dt class="col-sm-2">
            Reason
        </dt>
        <dd class="col-sm-10">
            @Model.Reason
        </dd>
    </dl>
</div>

<form asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
